*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
**/build/
**/.gradle/
app/src/main/assets/teknoparrot/winscard-x86.dll
